@import url('reset.less');

/* =============================================================================
   Primary styles
   Author: Luis "Dextro" Nabais
   ========================================================================== */

html, body {
    background: #202020;
    color: #eeeeec;
}

footer { text-align: right; font-style: italic; }

#screen {
    @ratio: 16/9;

    display: block;
    width: 96em;
    height: (96em/@ratio);
}

#controls {
    min-height: 1.3em;

    ul {
        padding: 0;
        display: inline;
        list-style: none;

        li {
            display: inline;
        }
    }

    .score {
        text-align: right;

        .value {
            display: inline-block;
            min-width: 96em/12*2;
        }
    }
}

@import url('grid.less');

@import url('reset2.less');

