@import url('reset.less');

/* =============================================================================
   Primary styles
   Author: Luis "Dextro" Nabais
   ========================================================================== */

html, body {
    background: #202020;
    color: #eeeeec;
}

a:link,
a:visited {
    color: #ececec;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: #666666;
}


footer { text-align: right; font-style: italic; }

#main {
    overflow: visible;
}

#screen {
    @ratio: 16/9;

    display: block;
    width: 96em;
    height: (96em/@ratio);
    background: #000;
    box-shadow: 0 0 8px rgba(255,255,255,0.3);
}

#controls {
    margin-top: 1em;
    min-height: 1.3em;

    ul {
        padding: 0;
        display: inline;
        list-style: none;

        li {
            display: inline;
            padding-right: 0.6em;
        }
    }

    .score {
        text-align: right;

        .value {
            display: inline-block;
            min-width: 96em/12*2;
        }
    }
}

@import url('grid.less');

@import url('reset2.less');

